spring.application.name=intro

#DB hibernate properties to see clearly
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# DB conection driver and all the database
spring.datasource.url=jdbc:postgresql://aws-1-us-west-1.pooler.supabase.com:6543/postgres
spring.datasource.username=postgres.{personal}
spring.datasource.password={tuPassword}


# Persistent local database.
# The data is stored in intro/data/eventify-db.mv.db and survives app restarts.
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.datasource.url=jdbc:h2:file:./data/eventify-db;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE
spring.datasource.username=sa
spring.datasource.password=

spring.datasource.driver-class-name=org.h2.Driver
spring.h2.console.enabled=true
spring.h2.console.path=/h2-console


#Driver de postgres
spring.datasource.driver-class-name=org.postgresql.Driver